
<footer class="p-5">
 <div class="container">
  <div class="row justify-content-center align-items-center text-lg-start text-center">
    <div class="col-lg-3">
      <h5 class="">Frank Vincent Gesmundo</h5>
      <h6 class="fw-light">&copy; All rights reserved 2022.</h6>
    </div>
    <div class="col-lg-3 mt-lg-0 mt-3">
        <div class="row fw-bold">
          <div class="col-4">
            <a href="" class="text-decoration-none text-light">Home</a>
          </div>
          <div class="col-4">
            <a href="" class="text-decoration-none text-light">Gallery</a>
          </div>
          <div class="col-4">
            <a href="" class="text-decoration-none text-light">Contact</a>
          </div>
        </div>
    </div>
    <div class="col-lg-3 text-lg-end mt-lg-0 mt-4">
      <h6 class="fw-light"> <i class="fa-solid fa-envelope me-2"></i> frankgesmundo@gmail.com </h6>
      <h6 class="fw-light"> <i class="fa-solid fa-mobile-retro me-2"></i> +(639) 222 - 215 - 551 </h6>
    </div>
  </div>
 </div>
</footer>
