
<div class="container-fluid" id="section-1">
  <div class="container">
   <div class="row justify-content-center align-items-center vh-100 py-5">
       <div class="col-lg-10 bg-light shadow rounded my-5 p-5">
           <div class="container-fluid">
               <div class="row">
                   <div class="col-lg-6 ">
                       <h1 class="fw-semibold" id="name-user">Frank Vincent Gesmundo</h1>
                       <h6 class="mt-3 hide"> Bachelor of Science in Information Technology Specializing in Mobile and Web Design</h6>
                       <h5 class="mt-4"><i class="fa-solid fa-mobile-retro text-dark me-2"></i><span class="fw-bold">Phone</span> <span id="phone-no">+(639) 222 - 215 - 551</span></h5>
                       <h5 class="mt-2 hide"><i class="fa-solid fa-envelope  text-dark me-1"></i> <span class="fw-bold">E-mail</span> frankgesmundo@gmail.com</h5>
                       <h5 class="my-5 hide"><i class="fa-solid fa-map-location-dot text-dark me-1"></i> #17 Kaliraya St. Cluster 9 <br>
                           Barangay Tatalon, District IV <br>
                           Quezon City 1113, Philippines</h5>
                   </div>
                   <div class="col-lg-6 text-lg-end">
                       <h1 class="display-4 fw-bold">Contact Me!</h1>
                       <h1 class="display-1">
                           <a href="" class="hide"><i class="fa-brands fa-linkedin text-dark "></i></a>
                           <a href="" class="hide"><i class="fa-brands fa-square-github text-dark ms-3"></i></a>
                           <a href="" class="hide"><i class="fa-brands fa-square-facebook text-dark ms-3"></i></a>
                         </h1>
                   </div>
               </div>
           </div>
       </div>
   </div>
  </div>
</div>
