<div class="container-fluid" id="intro">
  <h1 class="display-1 text-dark fw-bold"> My Pets</h1>
  <small class="text-muted">Scroll <i class="fa-solid fa-arrow-right"></i></small>
  <section>
      <div class="wrapper">
          <img src="../../assets/img/pets/pic1.jpg" alt="" width="400px" height="300px">
          <img src="../../assets/img/pets/pic2.jpg" alt="" width="220px" height="300px">
          <img src="../../assets/img/pets/pic3.jpg" alt="" width="200px" height="300px">
          <img src="../../assets/img/pets/pic4.jpg" alt="" width="250px" height="300px">
          <img src="../../assets/img/pets/pic5.jpg" alt="" width="250px" height="300px">
          <img src="../../assets/img/pets/pic6.jpg" alt="" width="250px" height="300px">
          <img src="../../assets/img/pets/pic7.jpg" alt="" width="300px" height="300px">
          <img src="../../assets/img/pets/pic8.jpg" alt="" width="300px" height="300px">
      </div>
  </section>
</div>

<div class="container pb-5 mb-5">
  <div class="row g-5 justify-content-center">
      <div class="col-xl-3 col-md-6   col-12">
          <div class="card shadow"  >
              <img src="../../assets/img/pets/anna.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h1 class="card-text">Anna</h1>
              </div>
            </div>
      </div>
      <div class="col-xl-3 col-md-6   col-12">
          <div class="card shadow"  >
              <img src="../../assets/img/pets/kalyx.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h1 class="card-text">Kalyx</h1>
              </div>
            </div>
      </div>
      <div class="col-xl-3 col-md-6   col-12">
          <div class="card shadow"  >
              <img src="../../assets/img/pets/kobe.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h1 class="card-text">Kobe</h1>
              </div>
            </div>
      </div>
      <div class="col-xl-3 col-md-6   col-12">
          <div class="card shadow"  >
              <img src="../../assets/img/pets/gigi.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h1 class="card-text">Gigi</h1>
              </div>
            </div>
      </div>
  </div>
</div>
