<div class="container-fluid d-flex justify-content-center align-items-center" id="section-1">
  <div class="row">
      <div class="col-12 text-center">
          <h1 class="text-light display-1" id="name-user">Frank Vincent Gesmundo</h1>
          <div class="container" id="info-user">
            <h3 class="text-light fw-light">Web Developer</h3>
            <h1 class="text-light display-1">
              <a href=""><i class="fa-brands fa-linkedin"></i></a>
              <a href=""><i class="fa-brands fa-square-github ms-3"></i></a>
              <a href=""><i class="fa-brands fa-square-facebook ms-3"></i></a>
            </h1>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid text-center " id="section-2">
  <div class="row justify-content-center mt-5 ">
      <div class="col-12">
          <h1 class="text-dark">About</h1>
      </div>
  </div>
  <div class="row justify-content-center align-items-center my-5 pb-5 g-2">
      <div class="col-lg-5">
          <img src="../../assets/img/image1.jpg" class="w-75 rounded" alt="">
      </div>
      <div class="col-lg-6 text-lg-start text-center p-lg-0 p-3">
         <p>I am currently a <b> College Student</b> at <b>National University Manila</b>
          pursuing a college degree in <b>BS-Information Technology specializing in Mobile and Web Applications</b>.
          <br><br>
          I am also a <b>computer hobbyist</b> where I spend my time building
          computers, fixing them, and tinkering for something new. I have
          experiences in <b>design, user experience, website development</b> and occasionally
          make funny memes.
          </p>
          <div class="container text-start">
            <div class="row justify-content-center">
              <div class="col-lg-12 col-9">
                <h5 class="mt-4">Previous Job Positions</h5>
                <ul>
                    <li class="h2">Laravel Full Stack Developer
                        <ul>
                            <li class="h5 mt-2 fw-light">Junior Web Developer</li>
                            <li class="h5 mt-2 fw-light">Frontend Web Developer</li>
                            <li class="h5 mt-2 fw-light">UI/UX Design</li>
                            <li class="h5 mt-2 fw-light">Software Diagnostics and Testing</li>
                        </ul>
                    </li>
                    <li class="h2">Social Media Manager
                        <ul>
                            <li class="h5 mt-2 fw-light">Tiktok</li>
                            <li class="h5 mt-2 fw-light">Facebook/Instagram</li>
                        </ul>
                    </li>
                    <li class="h2">Graphics Artist
                        <ul>
                            <li class="h5 mt-2 fw-light">Branding/Logo Design</li>
                            <li class="h5 mt-2 fw-light">Banners</li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
          </div>
      </div>

  </div>
</div>
